# Gradle / Kotlin
.gradle/
build/
.kotlin/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.cxx/

# Xcode
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
ios/**/*.xcodeproj/project.xcworkspace/
ios/Frameworks/

# OS
.DS_Store
Thumbs.db
